<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">  
  <nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#account-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">VAULT</a>
    </div>

    {% if user is not empty %}
      <div class="collapse navbar-collapse" id="menu-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="{{urlFor('master')}}"><span class="glyphicon glyphicon-lock"></span>&nbsp;Master</a></li>
          <li><a href="/personal"><span class="glyphicon glyphicon-user"></span>&nbsp;Personal</a></li>
          <li><a href="/account"><span class="glyphicon glyphicon-user"></span>&nbsp;Account</a></li>
          <li><a href="{{urlFor('logout')}}">Logout</a></li>
        </ul>
      </div>
    {% else %}
      <div class="collapse navbar-collapse" id="account-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="{{urlFor('login')}}"><span class="glyphicon glyphicon-user"></span>&nbsp;Login</a></li>
        </ul>
      </div>
    {% endif %}
  </div>
  </nav>
</div>


<!-- <div class="container-fluid">
  <div class="col-sm-12 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
    <div class="row logo">
        VAULT
    </div>
    <div class="row menu">
      {# <div class="col-md-4 menu-block">
        <a href="{{urlFor('home')}}"><span class="glyphicon glyphicon-refresh"></span></a>
      </div>
      <div class="col-md-4 menu-block last">
        <a href="{{urlFor('why')}}"><span class="glyphicon glyphicon-question-sign"></span></a>
      </div> #}
      </ul>
    </div>
  </div>
</div> -->
